body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.title-info {
    text-align: center;
}

.section {
    padding: 40px;
    position: relative;
}

.section-title {
    font-size: 36px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
    text-align: center;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-item i {
    margin-right: 20px;
    font-size: 24px;
}

.presentation-text {
    font-size: 18px;
    text-align: justify;
}

.experience-item {
    margin-bottom: 20px;
}

.experience-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.education-item {
    margin-bottom: 20px;
}

.education-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.proyect-text {
    font-size: 18px;
    text-align: justify;
}

.reference-item {
    margin-bottom: 20px;
}

.reference-text {
    font-size: 18px;
}

.carousel {
    display: flex;
    overflow-x: scroll;
}

.carousel-item {
    flex-shrink: 0;
    width: 300px;
    height: 200px;
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Agregar fondos con opacidad baja a las secciones */
#informacion-personal {
    background-image: url('https://via.placeholder.com/1500x1000?text=Imagen+de+Educación');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

#presentacion {
    background-image: url('https://via.placeholder.com/1500x1000?text=Imagen+de+Educación');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

#experiencia-laboral {
    background-image: url('https://via.placeholder.com/1500x1000?text=Imagen+de+Educación');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
