/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
    font-weight: bold;
}

p {
    color: #666;
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Carrusel de imágenes */
.slick-slider {
    margin-top: 70px;
    margin-bottom: 20px;
}

.slick-slider img {
    width: 100%;
    height: auto;
}

/* Secciones */
section {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
}

/* Efectos de desplazamiento */
.animate__animated {
    opacity: 0;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Enlaces */
a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Utilizar animaciones de Animate.css */
.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate__fadeInUp {
    animation-name: fadeInUp;
}

/* Títulos y subtítulos */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

/* Botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2980b9;
}

/* Imágenes redondas */
.rounded-img {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

/* Columnas */
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

/* Limpiar float */
.row:after {
    content: "";
    display: table;
    clear: both;
}

